fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
python-jose[cryptography]
pydantic-settings
python-multipart
httpx
pytest-asyncio
pytest-cov
email-validator
passlib==1.7.4
bcrypt==3.2.2
redis==6.2.0